# Playbook の実行時の前提の設定を書く
# 全てのPlaybook で共通のことだけを書く
# 例: inventory の場所
# 例: SSH の挙動（ホスト鍵チェックなど）

# Ansible コマンドに対するデフォルトの設定
[defaults]

# inventory ファイル(host一覧)の格納場所
inventory = ./inventory

# SSH初回接続時のホスト鍵確認(y/n)を省略
# Ansibleは対話不可のため省略するのが定番
host_key_checking = False

# Playbook失敗時に エラー出力ファイル(.retry) を作らない
# 個人環境では無効化するのが定番
retry_files_enabled = False

# SSHの再接続利用を無効化(接続の安定化のため)S
[ssh_connection]
ssh_args = -o ControlMaster=no -o ControlPath=none